<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <p class="titulo" id="exampleModalLabel">Iniciar Sesion o Registrarse</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2 class="bienvenido"> Bienvenido a TurismoWeb </h2>

          <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg"> 

              <i class="fa-solid fa-user"></i>

            </span>

            
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Correo Electronico" required> 
          </div>
          <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">

              <i class="fa-solid fa-lock"></i>

            </span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Contraseña" required>
          </div>
          <button type="button" class="btn btn-primary" id="btn-iniciarsesion">Iniciar Sesion</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="registrar" data-bs-toggle="modal" data-bs-target="#exampleModal1">¿No tienes una cuenta? Registrate.</button>
         
        </div>
      </div>
    </div>
  </div>

