<main>
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"></button>
      <button type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="1"
              aria-label="Slide 2"></button>
      <button type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="2"
              aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/Castillo.jpg"
             class="d-block w-100 h-100"
             alt="Alt text para tu imagen" />
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Castillo de San Felipe</h1>
            <p class="opacity-75">
              Adéntrate en la historia viva de Cartagena en el Castillo de San Felipe. Este coloso de piedra, con sus imponentes murallas, te invita a descubrir siglos de valentía y resistencia. Bienvenidos a una experiencia única en la encrucijada del tiempo y la historia. ¡Explora la grandeza de Cartagena desde las alturas del Castillo de San Felipe de Barajas!
            </p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets/popa.jpg"
             class="d-block w-100 h-100"
             alt="Alt text para tu imagen" />
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>La Popa</h1>
            <p class="opacity-75">
            </p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets/Torre.webp"
             class="d-block w-100 h-100"
             alt="Alt text para tu imagen" />
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Torre del reloj</h1>
            <p class="opacity-75">
              Bienvenidos a la Torre del Reloj, el corazón palpable de Cartagena. Esta icónica estructura, con sus agujas que marcan el tiempo y su arco de bienvenida al centro histórico, te invita a sumergirte en la esencia vibrante de la ciudad. Aquí, en la encrucijada de callejones empedrados, la historia se entrelaza con la modernidad. Descubre la magia que emana de este punto de referencia único y déjate llevar por el encanto atemporal de la Torre del Reloj. ¡Bienvenidos a un encuentro con el pulso latente de Cartagena!
            </p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container marketing" id="list-item-1">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle"
             width="140"
             height="140"
             xmlns="http://www.w3.org/2000/svg"
             role="img"
             aria-label="Placeholder"
             preserveAspectRatio="xMidYMid slice"
             focusable="false">
          <title>Placeholder</title>
          <image href="assets/luna-de-miel.png"
                 width="100%"
                 height="100%"
                 preserveAspectRatio="xMidYMid slice" />
        </svg>
        <h2 class="fw-normal">Turista</h2>
        <p>
          Si eres turista, aqui podras encontar lugares turisticos, guias
          turistas, establecimientos y de más. Registrate pare acceder a estos
          beneficios.
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Registrate aqui.
        </button>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle"
             width="140"
             height="140"
             xmlns="http://www.w3.org/2000/svg"
             role="img"
             aria-label="Placeholder"
             preserveAspectRatio="xMidYMid slice"
             focusable="false">
          <title>Placeholder</title>
          <image href="assets/guia-turistico.png"
                 width="100%"
                 height="100%"
                 preserveAspectRatio="xMidYMid slice" />
        </svg>
        <h2 class="fw-normal">Guia Turista</h2>
        <p>
          Si eres guia turistico aqui podras crear tu perfil y ser contactado por turistas que buscan una buena experiencia en cartagena ademas de muchas mas opciones.
        </p>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink="main/registroguia">
          Registrate aqui.
        </button>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle"
             width="140"
             height="140"
             xmlns="http://www.w3.org/2000/svg"
             role="img"
             aria-label="Placeholder"
             preserveAspectRatio="xMidYMid slice"
             focusable="false">
          <title>Placeholder</title>
          <image href="assets/hotel.png"
                 width="100%"
                 height="100%"
                 preserveAspectRatio="xMidYMid slice" />
        </svg>
        <h2 class="fw-normal">Establecimiento</h2>
        <p>
          Si tienes un establecimiento aqui podras registrarlo y crear o cargar tus menus para poder ser adquiridos por los turistas y manejar todo desde un solo lugar, solo tienes que crear tu cuenta.
        </p>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Registrate aqui.
        </button>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>

  <div class="container">
    <div class="col">
      <hr class="featurette-divider" />
    </div>
  </div>

  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          TURISTAS
          <span class="text-body-secondary">la mejor experiencia.</span>
        </h2>
        <p class="lead">
          Los turistas tendran la facilidad de poder contratar guias turistas, establecimientos y hasta crear sus propios paquetes en base a los que ya estan creados, facilitandole en muchos aspectos la planeacion de su estadia en la ciudad y con la conversion de la moneda local a la moneda nativa podra evitar estafas a la hora de pagar.
        </p>
      </div>
      <div class="col-md-5">
        <img src="assets/turistas.jpg"
             class="d-block w-100"
             alt="Alt text para tu imagen" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col">
      <hr class="featurette-divider" />
    </div>
  </div>

  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          GUIAS TURISTICOS
          <span class="text-body-secondary">el mejor acompañamiento.</span>
        </h2>
        <p class="lead">
          nuestros guias contaran con la facilidad de ver los turistas activos en cartagena y de recibira las solicitudes para aceptarlas o rechazarla segun lo que el quiera si no hay un acuerdo pereo lo mejor es que segun tu trabajo los turistas te puntuaran lo que hara que seas mas recomendado y puedas conseguir mas trabajos, tambien podras crear paquetes turisticos y asi tener mas oportunidades de trabajar.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/guiaturista.jpg"
             class="d-block w-100"
             alt="Alt text para tu imagen" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col">
      <hr class="featurette-divider" />
    </div>
  </div>

  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
          ESTABLECIMIENTOS
          <span class="text-body-secondary">la mejor hospitalidad</span>
        </h2>
        <p class="lead">
          los establecimientos podran publicar sus productos y sus menus para que los turistas puedan acceder a ellos o los guias puedan añadirlos a sus paquetes con la opcion de pedirles reservas antes de ir al lugar para no generar inconvenientes, a su vez sus precios en moneda local seran trasladados a la moneda nativa del turista para una mejor experiencia y asi una mejor calificacion por parte del turista hacia el establecimiento.
        </p>
      </div>
      <div class="col-md-5">
        <img src="assets/establecimientos.jpeg"
             class="d-block w-100"
             alt="Alt text para tu imagen" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col">
      <hr class="featurette-divider" />
    </div>
  </div>
