<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <p class="titulo" id="exampleModalToggleLabel2">Registro</p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h2 class="bienvenido">Bienvenido a TurismoWeb</h2>

        <div class="input-group input-group-lg">
          <span class="input-group-text" id="inputGroup-sizing-lg">
            <i class="fa-solid fa-user"></i>
          </span>

          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            placeholder="DNI"
            required
          />
        </div>

        <div id="nombre-apellido">
          <div class="input-group input-group-lg" id="nombre">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              <i class="fa-solid fa-user"></i>
            </span>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-lg"
              placeholder="Nombre"
              required
            />
          </div>

          <div class="input-group input-group-lg" id="apellido">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              <i class="fa-solid fa-user"></i>
            </span>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-lg"
              placeholder="Apellido"
              required
            />
          </div>
        </div>

        <div class="input-group input-group-lg">
          <span class="input-group-text" id="inputGroup-sizing-lg">
            <i class="fa-solid fa-envelope"></i>
          </span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            placeholder="Correo Electrónico"
            required
          />
        </div>

        <div id="numero-pais">
          <div class="input-group input-group-lg" id="numero">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              <i class="fa-solid fa-mobile"></i>
            </span>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-lg"
              placeholder="Número Celular"
              required
            />
          </div>

          <div class="input-group input-group-lg" id="pais">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              <i class="fa-solid fa-globe"></i>
            </span>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-lg"
              placeholder="País"
              required
            />
          </div>
        </div>

        <div class="input-group input-group-lg">
          <span class="input-group-text" id="inputGroup-sizing-lg">
            <i class="fa-solid fa-hotel"></i>
          </span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            placeholder="Dirección Hospedaje"
            required
          />
        </div>

        <div class="input-group input-group-lg">
          <span class="input-group-text" id="inputGroup-sizing-lg">
            <i class="fa-solid fa-lock"></i>
          </span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            placeholder="Contraseña"
            required
          />
        </div>

        <button type="button" class="btn btn-primary" id="btn-registrar">
          Registrarse
        </button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="registrar"
          data-bs-toggle="modal"
          data-bs-target="#exampleModalToggle"
        >
          ¿ya tienes una cuenta? Inicia Sesion.
        </button>
      </div>
    </div>
  </div>
</div>
