<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img id="imghome" src="assets/turismoweb.png" alt="" />
    </div>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" id="lista">
          <a class="nav-link" routerLink="">Guias Turistas</a>
        </li>
        <li class="nav-item" id="lista">
          <a class="nav-link" routerLink="">Establecimientos</a>
        </li>
        <li class="nav-item" id="lista">
          <a class="nav-link" routerLink="">Sitios Turisticos</a>
        </li>
      </ul>

      <p class="iniciar-sesion">Iniciar Sesion</p>
      <div>
        <button id="login"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal2">
          <i class="fa-solid fa-user"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
