<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://fontawesome.com/1bcac6068d.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Login
</button>

<!-- Modal -->
<app-iniciar-secion-turista></app-iniciar-secion-turista>
<app-inicio-turista></app-inicio-turista>

</body>
</html>
