/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

.cabeza{
    padding: 50px 60px;
    color: blue;
    font-size: 100px;
    font-weight: 300;
}

